doctype html
html
  head
    title Dashboard
    link(rel="stylesheet", href="/dashboard.css")
  body
    h1 Dashboard
    h2 Últimos 20 datos crudos
    table
      thead
        tr
          th Consumo (L/min)
          th Device ID
          th Fecha de Creación
      tbody
        each usage in usages
          tr
            td= usage.value
            td= usage.deviceId
            td= usage.createdAt
